@use '../../../app/styles/mixins/disable-mob-hover' as *;

.customCheckbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  @include hover {
    .customCheckboxText {
      color: var(--accent);
    }
  }
}

.customCheckboxInput {
  appearance: none;
  position: relative;
  border: 1px solid var(--text-primary);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin: 0;
  background: transparent;
  cursor: inherit;
  transition: border-color 0.3s;

  &::before {
    content: '';
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    background-color: var(--accent);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg) scale(0);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }

  &:checked {
    &::before {
      opacity: 1;
    }

    &::after {
      transform: rotate(45deg) scale(1);
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba(102, 107, 249, 0.35);
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }

  &:disabled + .customCheckboxText {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }
}

.customCheckboxText {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-primary);
  transition: color 0.3s;
  user-select: none;
}
