@use '../../../app/styles/mixins/disable-mob-hover' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 2px solid var(--accent);
  border-radius: 100px;
  padding: 12px 22px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: border-color 0.3s, background 0.3s, color 0.3s;
  cursor: pointer;

  svg {
    display: block;
    stroke: var(--light-text-secondary);
    align-self: auto;
    transition: stroke 0.3s;
  }

  &--primary {
    color: #f0f0f0;
    background: var(--accent);
  }

  &--secondary {
    color: var(--text-primary);
    background: transparent;
  }

  &--icon-only {
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 30%;
  }

  @include hover {
    border-color: var(--accent-hover);
    color: #f0f0f0;
    background: var(--accent-hover);

    svg {
      stroke: currentColor;
    }
  }

  &:active:not(:disabled) {
    border-color: var(--accent-active);
    color: #f0f0f0;
    background: var(--accent-active);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
