.taskContent {
  margin: 0 auto;
  max-width: 600px;
}

.form {
  display: grid;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:last-child {
    justify-self: end;
  }
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.fieldErrorAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin-bottom: 6px;
}

.description {
  resize: none;
}

.select {
  width: 200px;
}

.button {
  width: 75px;
}
