@use '../../../../app/styles/mixins/disable-mob-hover' as *;

.board {
  position: relative;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // width: 250px;
  height: 150px;
  background-color: var(--bg-surface);
}

.button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  color: var(--text-secondary);

  &:hover:not(:disabled) {
    color: var(--text-primary);
  }
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  color: var(--text-primary);
  transition: color 0.3s;

  @include hover {
    color: var(--accent);
  }

  &:active {
    color: var(--accent-active);
  }
}