

.title {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  margin-bottom: 20px;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // flex-direction: column;
  gap: 20px;
}

.taskDraft {
  position: relative;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-surface);
}