

.title {
  margin-bottom: 20px;
}

.titleSection,
.descriptionSection {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.descriptionSection {
  .editIconButton {
    position: relative;
    bottom: 10px;
  }
}

.titleSection {
  .editIconButton {
    position: relative;
    bottom: 15px;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}

.addButton {
  justify-self: start;
  font-size: 12px;
  padding: 6px 12px;
}

.editIconButton {
  color: var(--text-secondary);
}

.tasks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // flex-direction: column;
  gap: 20px;
}

.taskDraft {
  position: relative;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-surface);
}