@use '../../../app/styles/mixins/_breakpoint.scss' as *;

.input {
  width: 300px;
  padding-left: 40px;
  background-image: url('../../assets/icons/icon-search_white.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 16px 16px;

  @include mobile {
    width: 100%;
  }
}