.form {
  display: flex;
  gap: 8px;
}

.field {
  // width: 100%;
  // width: 400px;
}

.fieldLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.fieldErrorAbsolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin-bottom: 6px;
}

.textarea {
  width: 500px;
  height: 55px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.editButton {
  font-size: 12px;
  padding: 6px 12px;
}
