.boards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  background-color: var(--bg-surface);
}

.button {
  margin-bottom: 20px;
}